<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>743783425498-bo81l70g7mbg96s0mt16nff96eo3g2jv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.743783425498-bo81l70g7mbg96s0mt16nff96eo3g2jv</string>
	<key>API_KEY</key>
	<string>AIzaSyDxh0F-5NGlHfYkmMPph0BapDoxDS1LIFc</string>
	<key>GCM_SENDER_ID</key>
	<string>743783425498</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tsuruoka.com</string>
	<key>PROJECT_ID</key>
	<string>nippo-91d05</string>
	<key>STORAGE_BUCKET</key>
	<string>nippo-91d05.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:743783425498:ios:5b93c3d1602b64207d4ce3</string>
	<key>DATABASE_URL</key>
	<string>https://nippo-91d05.firebaseio.com</string>
</dict>
</plist>