<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>554602506203-2e3jkpfh6rabqmci2cck8k7ufkr9665e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.554602506203-2e3jkpfh6rabqmci2cck8k7ufkr9665e</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>554602506203-cvqnsumv3q5c3mk5oj800tr7lugoo81u.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyALpm4NWeHM-PkaBkMaVuOWUJhRG0DHE-I</string>
	<key>GCM_SENDER_ID</key>
	<string>554602506203</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.htsuruo.nippo</string>
	<key>PROJECT_ID</key>
	<string>nippo-e8922</string>
	<key>STORAGE_BUCKET</key>
	<string>nippo-e8922.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:554602506203:ios:28faf2e71f77493b3ee9fe</string>
	<key>DATABASE_URL</key>
	<string>https://nippo-e8922.firebaseio.com</string>
</dict>
</plist>
